# Copy this to .env and edit as needed
# All these values are already set in docker-compose.yml
# Only needed if running backend outside Docker

DATABASE_URL=postgresql+asyncpg://ims:ims_secret@localhost:5432/ims
MONGO_URL=mongodb://localhost:27017
REDIS_URL=redis://localhost:6379
ENVIRONMENT=development
RATE_LIMIT_PER_SEC=1000
BUFFER_SIZE=100000
