# Python
venv/
__pycache__/
*.pyc

# Environment variables
.env

# Node
node_modules/

# Build files
dist/
build/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Docker (optional logs/temp)
*.log